Repository aristanetworks/ansible-cvp, changes with the labels that .github/labeler.yml gives for each.
All labels: module: cv_configlet, module: cv_configlet_v3, module: cv_container, module: cv_container_v3, module: cv_device, module: cv_device_v3, module: cv_facts, module: cv_facts_v3, module: cv_task, module: cv_task_v3, module_utils: cv_client, data-model changes, role: ztp_configuration, role: configlets_sync, type: documentation, type: code quality, type: dependencies

Fix: Remove cvprac classes in Python hints
  ansible_collections/arista/cvp/plugins/module_utils/api.py
Labels: module_utils: cv_client

Feat: Add svc account token auth method for on-prem and standardize it with cvaas
  ansible_collections/arista/cvp/docs/how-to/cvp-authentication.md
  ansible_collections/arista/cvp/plugins/module_utils/tools_cv.py
Labels: module_utils: cv_client, type: documentation

Fix(cv_device_v3): fix typo in config removal constant
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
Labels: module_utils: cv_client

revert the other changes that are part of another PR
  ansible_collections/arista/cvp/docs/how-to/cvp-authentication.md
  ansible_collections/arista/cvp/plugins/module_utils/tools_cv.py
Labels: module_utils: cv_client, type: documentation

Fix(cv_device_v3): fix typo in the newly introduced constants (#461)
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
Labels: module_utils: cv_client

Cleanup (#4)
  ansible_collections/arista/cvp/docs/modules/cv_change_control_v3.rst.md
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: module_utils: cv_client, type: documentation

Generate action name if required
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

CI(actions): Upload ansible collection artifacts to GH during release workflow
  .github/workflows/tag-management.yml
Labels: type: code quality

Fix documentation, add missing parameter
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: module_utils: cv_client

Add code to handle the change_id list
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

CI(actions): Upload ansible collection artifacts to GH during release workflow (#463)
  .github/workflows/tag-management.yml
Labels: type: code quality

fix function call
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

fix logging
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Linter things
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

More linter things
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: none

More linting
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Please pass the linter
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

test log fix
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Final linting
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Trim trailing whitespace
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: module_utils: cv_client

Ansible linting
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: none

workaround for getting facts
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: module_utils: cv_client

typo
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: none

Handle the lack of return from the API
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Fix key handling
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Fix removal
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

update delete
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Fix CC ID lookup
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Fix logging
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Doc: Release notes for v3.3.0 (#453)
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
Labels: type: documentation

Lint and logging fixes
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

linter hell
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Doc update
  ansible_collections/arista/cvp/docs/modules/cv_change_control_v3.rst.md
Labels: type: documentation

Doc fixes
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: module_utils: cv_client

Whitespace trim
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

Change version
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: none

.github/labeler.yml:

"module: cv_configlet":
  - ansible_collections/arista/cvp/plugins/modules/cv_configlet.py

"module: cv_configlet_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py

"module: cv_container":
  - ansible_collections/arista/cvp/plugins/modules/cv_container.py

"module: cv_container_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/container_tools.py

"module: cv_device":
  - ansible_collections/arista/cvp/plugins/modules/cv_device.py

"module: cv_device_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/device_tools.py

"module: cv_facts":
  - ansible_collections/arista/cvp/plugins/modules/cv_facts.py

"module: cv_facts_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py

"module: cv_task":
  - ansible_collections/arista/cvp/plugins/modules/cv_task.py

"module: cv_task_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_task_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/task_tools.py

"module_utils: cv_client":
  - ansible_collections/arista/cvp/plugins/module_utils/*
  - ansible_collections/arista/cvp/plugins/module_utils/**/*

"data-model changes":
  - ansible_collections/arista/cvp/plugins/module_utils/schema_v1.py
  - ansible_collections/arista/cvp/plugins/module_utils/schema_v3.py

"role: ztp_configuration":
  - ansible_collections/arista/cvp/roles/dhcp_configuration/*
  - ansible_collections/arista/cvp/roles/dhcp_configuration/**/*

"role: configlets_sync":
  - ansible_collections/arista/cvp/roles/configlets_sync/*
  - ansible_collections/arista/cvp/roles/configlets_sync/**/*

"type: documentation":
  - README.md
  - contributing.md
  - ansible_collections/arista/cvp/README.md
  - ansible_collections/arista/cvp/docs/*
  - ansible_collections/arista/cvp/docs/**/*

"type: code quality":
  - .github/labeler.yml
  - .github/*
  - .github/**/*
  - development/docker-compose.yml
  - development/Makefile

"type: dependencies":
  - ansible_collections/arista/cvp/requirements-dev.txt
  - ansible_collections/arista/cvp/requirements.txt
  - ansible_collections/arista/cvp/docs/requirements.txt
