Repository aristanetworks/ansible-cvp, changes with the labels that .github/labeler.yml gives for each.
All labels: module: cv_configlet, module: cv_configlet_v3, module: cv_container, module: cv_container_v3, module: cv_device, module: cv_device_v3, module: cv_facts, module: cv_facts_v3, module: cv_task, module: cv_task_v3, module_utils: cv_client, data-model changes, role: ztp_configuration, role: configlets_sync, type: documentation, type: code quality, type: dependencies

.github/labeler.yml:

"module: cv_configlet":
  - ansible_collections/arista/cvp/plugins/modules/cv_configlet.py

"module: cv_configlet_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py

"module: cv_container":
  - ansible_collections/arista/cvp/plugins/modules/cv_container.py

"module: cv_container_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/container_tools.py

"module: cv_device":
  - ansible_collections/arista/cvp/plugins/modules/cv_device.py

"module: cv_device_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/device_tools.py

"module: cv_facts":
  - ansible_collections/arista/cvp/plugins/modules/cv_facts.py

"module: cv_facts_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py

"module: cv_task":
  - ansible_collections/arista/cvp/plugins/modules/cv_task.py

"module: cv_task_v3":
  - ansible_collections/arista/cvp/plugins/modules/cv_task_v3.py
  - ansible_collections/arista/cvp/plugins/module_utils/task_tools.py

"module_utils: cv_client":
  - ansible_collections/arista/cvp/plugins/module_utils/*
  - ansible_collections/arista/cvp/plugins/module_utils/**/*

"data-model changes":
  - ansible_collections/arista/cvp/plugins/module_utils/schema_v1.py
  - ansible_collections/arista/cvp/plugins/module_utils/schema_v3.py

"role: ztp_configuration":
  - ansible_collections/arista/cvp/roles/dhcp_configuration/*
  - ansible_collections/arista/cvp/roles/dhcp_configuration/**/*

"role: configlets_sync":
  - ansible_collections/arista/cvp/roles/configlets_sync/*
  - ansible_collections/arista/cvp/roles/configlets_sync/**/*

"type: documentation":
  - README.md
  - contributing.md
  - ansible_collections/arista/cvp/README.md
  - ansible_collections/arista/cvp/docs/*
  - ansible_collections/arista/cvp/docs/**/*

"type: code quality":
  - .github/labeler.yml
  - .github/*
  - .github/**/*
  - development/docker-compose.yml
  - development/Makefile

"type: dependencies":
  - ansible_collections/arista/cvp/requirements-dev.txt
  - ansible_collections/arista/cvp/requirements.txt
  - ansible_collections/arista/cvp/docs/requirements.txt

Fix: Add error handling with custom exceptions (#434)
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/exceptions.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  tests/data/container_tools_unit.py
  tests/lib/config.py
  tests/lib/json_data.py
  tests/lib/mock.py
  tests/lib/utils.py
  tests/unit/test_cv_container_tools.py
Labels: module: cv_container_v3, module_utils: cv_client

Feat: Implement initial module for image management phase1 (#428)
  .github/workflows/pull-request-triage.yml
  ansible_collections/arista/cvp/docs/_build/index.rst
  ansible_collections/arista/cvp/docs/modules/cv_image_v3.rst.md
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_image_v3.py
Labels: module: cv_facts, module_utils: cv_client, type: documentation, type: code quality

Fix(cv_container_v3): Lint code
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
Labels: module: cv_container_v3, module_utils: cv_client

Feat(cv_container_v3): Support for removing all configlets from a container (#444)
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
Labels: module: cv_container_v3, module_utils: cv_client

Cleanup code
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/exceptions.py
Labels: module: cv_container_v3, module: cv_device_v3, module_utils: cv_client

Doc(cv_image_v3): Add module documentation
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/_build/cv_facts.rst
  ansible_collections/arista/cvp/docs/_build/cv_image_v3.rst
  ansible_collections/arista/cvp/docs/how-to/v3/cv_image_v3.md
  mkdocs.yml
Labels: type: documentation

Doc: Add page to TOC
  ansible_collections/arista/cvp/docs/faq/containers.md
  mkdocs.yml
Labels: type: documentation

Doc(cv_image_v3): Update as per review
  ansible_collections/arista/cvp/docs/how-to/v3/cv_image_v3.md
Labels: type: documentation

Fix(cv_facts_v3): Change released version for module
  ansible_collections/arista/cvp/docs/_build/cv_facts.rst
  ansible_collections/arista/cvp/docs/_build/cv_facts_v3.rst
  ansible_collections/arista/cvp/docs/modules/cv_facts_v3.rst.md
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
Labels: module: cv_facts_v3, type: documentation

Fix(cv_facts_v3): Change released version for module (#446)
  ansible_collections/arista/cvp/docs/_build/cv_facts.rst
  ansible_collections/arista/cvp/docs/_build/cv_facts_v3.rst
  ansible_collections/arista/cvp/docs/modules/cv_facts_v3.rst.md
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
Labels: module: cv_facts_v3, type: documentation

CI(cv_image_v3): Initial unit tests for CvImageTools
  ansible_collections/arista/cvp/docs/_build/cv_image_v3.rst
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
  tests/data/image_unit.py
  tests/lib/mock.py
  tests/unit/test_image_tools.py
Labels: module_utils: cv_client, type: documentation

Fix(cv_image_v3): Remove check_mode support as not implemented in CvImageTools
  ansible_collections/arista/cvp/plugins/modules/cv_image_v3.py
Labels: none

CI(cv_image_v3): Increase unit tests coverage for CvImageTools
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
  tests/unit/test_image_tools.py
Labels: module_utils: cv_client

CI(cv_image_v3): increase unit coverage
  tests/unit/test_image_tools.py
Labels: none

Review: Add code review comment
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
Labels: module_utils: cv_client

CI(pytest): Extract ansible mock in module
  tests/README.md
  tests/lib/mock.py
  tests/lib/mock_ansible.py
  tests/system/test_cv_container_tools.py
  tests/unit/test_cv_container_tools.py
  tests/unit/test_cv_facts_tools.py
Labels: none

Make: Ansible Execution Env update (#442)
  .gitignore
  ansible_collections/arista/cvp/docs/faq/containers.md
  ansible_collections/arista/cvp/requirements-dev.txt
  execution-environment.yml
  mkdocs.yml
Labels: type: documentation, type: dependencies

Refactor(cv_image_v3): Update Python code style
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
Labels: module_utils: cv_client

CI(cv_image_v3): increase unit coverage
  tests/unit/test_cv_image_tools.py
Labels: none

CI(pytest): Add tags for image & facts
  tests/pytest.ini
  tests/system/test_cv_facts_tools.py
  tests/unit/test_cv_facts_tools.py
  tests/unit/test_cv_image_tools.py
Labels: none

CI(actions): Update 404 action after Arista Website update
  .github/workflows/pull-request-management.yml
Labels: type: code quality

CI(actions): Update 404 action after Arista Website update
  .github/workflows/pull-request-management.yml
Labels: type: code quality

CI(actions): Bump muffet for 404 link checker
  .github/workflows/pull-request-management.yml
  Makefile
Labels: type: code quality

CI(actions): Update 404 action after Arista Website update (#450)
  .github/workflows/pull-request-management.yml
  Makefile
Labels: type: code quality

Bump: Upgrade to Python 3.8 (#441)
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/cvp/README.md
Labels: type: documentation, type: code quality

Doc(cv_image_v3): Add module documentation (#445)
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/_build/cv_image_v3.rst
  ansible_collections/arista/cvp/docs/how-to/v3/cv_image_v3.md
  mkdocs.yml
Labels: type: documentation

CI(cv_image_v3): Initial unit tests for CvImageTools (#447)
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_image_v3.py
  tests/README.md
  tests/data/image_unit.py
  tests/lib/mock.py
  tests/lib/mock_ansible.py
  tests/pytest.ini
  tests/system/test_cv_container_tools.py
  tests/system/test_cv_facts_tools.py
  tests/unit/test_cv_container_tools.py
  tests/unit/test_cv_facts_tools.py
  tests/unit/test_cv_image_tools.py
Labels: module_utils: cv_client

CI(pytest): Fix incorrect import after rebase
  tests/lib/mock_ansible.py
  tests/unit/test_cv_image_tools.py
Labels: none

Refactor(module_utils): Create resource submodules for fields and schemas (#439)
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/exceptions.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v1.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_schema.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  tests/lib/helpers.py
  tests/lib/json_data.py
  tests/lib/mock.py
  tests/lib/mock_ansible.py
  tests/lib/utils.py
  tests/system/test_cv_configlet.py
  tests/system/test_cv_device_tools.py
  tests/system/test_cv_device_tools_fqdn.py
  tests/system/test_cv_device_tools_generic.py
  tests/system/test_cv_device_tools_serial.py
  tests/system/test_cv_facts_tools.py
  tests/unit/test_configlet_input.py
  tests/unit/test_container_inputs.py
  tests/unit/test_cv_container_tools.py
  tests/unit/test_cv_image_tools.py
  tests/unit/test_device_element.py
  tests/unit/test_device_inventory.py
  tests/unit/test_json_schema.py
Labels: module: cv_configlet_v3, module: cv_container_v3, module: cv_device_v3, module: cv_facts_v3, module_utils: cv_client

Revert "Refactor(module_utils): Create resource submodules for fields and schemas (#439)"
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/exceptions.py
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v1.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v3.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_schema.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  tests/lib/helpers.py
  tests/lib/json_data.py
  tests/lib/mock.py
  tests/lib/mock_ansible.py
  tests/lib/utils.py
  tests/system/test_cv_configlet.py
  tests/system/test_cv_device_tools.py
  tests/system/test_cv_device_tools_fqdn.py
  tests/system/test_cv_device_tools_generic.py
  tests/system/test_cv_device_tools_serial.py
  tests/system/test_cv_facts_tools.py
  tests/unit/test_configlet_input.py
  tests/unit/test_container_inputs.py
  tests/unit/test_cv_container_tools.py
  tests/unit/test_cv_image_tools.py
  tests/unit/test_device_element.py
  tests/unit/test_device_inventory.py
  tests/unit/test_json_schema.py
Labels: module: cv_configlet_v3, module: cv_container_v3, module: cv_device_v3, module: cv_facts_v3, module_utils: cv_client, data-model changes

Revert "Refactor(module_utils): Create resource submodules for fields and schemas" (#451)
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/exceptions.py
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v1.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v3.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_schema.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  tests/lib/helpers.py
  tests/lib/json_data.py
  tests/lib/mock.py
  tests/lib/mock_ansible.py
  tests/lib/utils.py
  tests/system/test_cv_configlet.py
  tests/system/test_cv_device_tools.py
  tests/system/test_cv_device_tools_fqdn.py
  tests/system/test_cv_device_tools_generic.py
  tests/system/test_cv_device_tools_serial.py
  tests/system/test_cv_facts_tools.py
  tests/unit/test_configlet_input.py
  tests/unit/test_container_inputs.py
  tests/unit/test_cv_container_tools.py
  tests/unit/test_cv_image_tools.py
  tests/unit/test_device_element.py
  tests/unit/test_device_inventory.py
  tests/unit/test_json_schema.py
Labels: module: cv_configlet_v3, module: cv_container_v3, module: cv_device_v3, module: cv_facts_v3, module_utils: cv_client, data-model changes

Fix(module_utils): Remove incorrect syntax in code
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
Labels: module: cv_container_v3, module_utils: cv_client

Fix: Update code for 3.7 compatibility
  .sourcery.yaml
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
Labels: module: cv_container_v3, module_utils: cv_client

CI(actions): Extend Python validation to 3.7,..,3.9
  .github/workflows/pull-request-management.yml
Labels: type: code quality

Fix(module_utils): Incorrect syntax in container_tools
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
Labels: module: cv_container_v3, module_utils: cv_client

CI(actions): Add test for code compatibility
  .github/workflows/pull-request-management.yml
Labels: type: code quality

Refactor(module_utils): Create resource submodules for fields and schemas (#452)
  .github/workflows/pull-request-management.yml
  .sourcery.yaml
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/exceptions.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v1.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_schema.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  tests/lib/helpers.py
  tests/lib/json_data.py
  tests/lib/mock.py
  tests/lib/mock_ansible.py
  tests/lib/utils.py
  tests/system/test_cv_configlet.py
  tests/system/test_cv_device_tools.py
  tests/system/test_cv_device_tools_fqdn.py
  tests/system/test_cv_device_tools_generic.py
  tests/system/test_cv_device_tools_serial.py
  tests/system/test_cv_facts_tools.py
  tests/unit/test_configlet_input.py
  tests/unit/test_container_inputs.py
  tests/unit/test_cv_container_tools.py
  tests/unit/test_cv_image_tools.py
  tests/unit/test_device_element.py
  tests/unit/test_device_inventory.py
  tests/unit/test_json_schema.py
Labels: module: cv_configlet_v3, module: cv_container_v3, module: cv_device_v3, module: cv_facts_v3, module_utils: cv_client, type: code quality

Doc: Release notes for v3.3.0
  .github/workflows/tag-management.yml
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
Labels: type: documentation, type: code quality

Make: Implement editorconfig settings
  .editorconfig
Labels: none

Feat: Implementation of concurrent cvprac API calls using asyncio and threading/futures
  ansible_collections/arista/cvp/plugins/module_utils/api.py
  tests/system/test_cv_api.py
Labels: module_utils: cv_client
