Repository aristanetworks/ansible-cvp, pull requests merged in 2019-12, with the labels that each got.

#97 Update README.md
  README.md
Labels: type: documentation

#98 Implement Conitnuous Integration content
  .github/stale.yml
  .travis.yml
  ansible_collections/arista/cvp/tests/playbook.build.topology.yml
  ansible_collections/arista/cvp/tests/playbook.reset.topology.yml
Labels: type: Respository Enhancement

#94 Update Contributing guide
  README.md
  ansible_collections/arista/cvp/galaxy.yml
  contributing.md
  docs/cv_device.md
  requirements.dev.txt
Labels: status: in-progress, type: documentation

#96 Improve cv_facts as per #95
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v1.py
  ansible_collections/arista/cvp/tests/issue-95.yml
  docs/cv_facts.md
Labels: module: cv_facts, status: in-progress, type: enhancement

#102 Fix cv_device with correct JSON keys
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/tests/playbook.build.topology.yml
  ansible_collections/arista/cvp/tests/playbook.reset.topology.yml
Labels: module: cv_device, module: cv_facts, type: bug

#103 Release v1.0.2
  .github/stale.yml
  .travis.yml
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/galaxy.yml
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v1.py
  ansible_collections/arista/cvp/tests/inventory.ini
  ansible_collections/arista/cvp/tests/issue-27.yml
  ansible_collections/arista/cvp/tests/issue-58.yml
  ansible_collections/arista/cvp/tests/issue-95.yml
  ansible_collections/arista/cvp/tests/issue-99.yml
  ansible_collections/arista/cvp/tests/playbook.build.topology.yml
  ansible_collections/arista/cvp/tests/playbook.reset.topology.yml
  contributing.md
  docs/cv_configlet.md
  docs/cv_container.md
  docs/cv_device.md
  docs/cv_facts.md
  docs/cv_task.md
  requirements.dev.txt
Labels: status: To be merged
