Repository aristanetworks/ansible-cvp, pull requests merged in 2019-10, with the labels that each got.

#12 Issue #11 - cv_container to support intended definition
  README.md
  library/cv_container.py
  tests/playbook.container.demo.yaml
Labels: enhancement

#16 Issue #13 - Fix cv_configlet error
  library/cv_configlet.py
Labels: bug

#15 Optimize cv_container
  library/cv_container.py
  tests/playbook.container.demo.yaml
Labels: bug, enhancement

#20 Grant update
  library/cv_configlet.py
  library/cv_facts.py
  module_utils/cv_api2018.py
  module_utils/cv_api2019.py
  module_utils/cv_apiTest.py
  module_utils/cv_client.py
  module_utils/cv_client_errors.py
  requirements.txt
  tests/ansible.cfg
  tests/inventory.ini
  tests/playbook.configlet.demo.yaml
  tests/playbook.cv_facts.yaml
  tests/templates/configlet_cvp_foster.txt
  tests/templates/configlet_cvp_grant.txt
Labels: Folsom, Grant, enhancement

#25 Grant update idempotency
  INSTALLATION.md
  README.md
  library/cv_configlet.py
  library/cv_facts.py
  meta/main.yml
Labels: Grant, documentation

#26 Issue23 refactor cv_container
  .gitignore
  library/cv_container.py
  module_utils/legacy_cvp/README.md
  module_utils/legacy_cvp/__init__.py
  module_utils/legacy_cvp/cvp_api.py
  module_utils/legacy_cvp/cvp_apiV2.py
  module_utils/legacy_cvp/cvp_client.py
  module_utils/legacy_cvp/cvp_client_errors.py
  module_utils/legacy_cvp/cvprac_ContainerTest.py
  module_utils/legacy_cvp/cvprac_DeviceTest.py
  module_utils/legacy_cvp/cvprac_ImageTest.py
  module_utils/legacy_cvp/cvprac_TaskTest.py
  module_utils/legacy_cvp/test_container.sh
  module_utils/legacy_cvp/test_device.sh
  module_utils/legacy_cvp/test_image.sh
  module_utils/legacy_cvp/test_task.sh
  requirements.txt
  tests/ansible.cfg
  tests/inventory.ini
  tests/playbook.container.demo.yaml
Labels: Grant, enhancement

#36 added cv_task
  library/cv_configlet.py
  library/cv_facts.py
  library/cv_task.py
  tests/playbook.tasks.demo.yaml
Labels: enhancement

#38 Issue #23 - Implement configlet attachment to container
  library/cv_container.py
  tests/playbook.container.demo.yaml
Labels: Folsom, enhancement

#40 Issue #23 - Fix configlet attachement logic
  library/cv_container.py
  tests/playbook.container.demo.yaml
Labels: enhancement

#39 Update cv-modules from Hugh's repo
  library/cv_device.py
  library/cv_facts.py
  library/cv_task.py
  module_utils/cv_api2018.py
  module_utils/cv_api2019.py
  tests/playbook.device.demo.yaml
  tests/playbook.tasks.demo.yaml
Labels: enhancement

#44 Add Grant support for cv_container
  library/cv_container.py
  module_utils/cv_api2018.py
  module_utils/cv_api2019.py
Labels: Grant, enhancement

#51 Grant Release documentation
  .gitlab-ci.yml
  README.md
  arista/cvp/galaxy.yml
  arista/cvp/plugins/README.md
  arista/cvp/plugins/modules/cv_configlet.py
  arista/cvp/plugins/modules/cv_container.py
  arista/cvp/plugins/modules/cv_device.py
  arista/cvp/plugins/modules/cv_facts.py
  arista/cvp/plugins/modules/cv_image.py
  arista/cvp/plugins/modules/cv_task.py
  arista/cvp/tests/ansible.cfg
  arista/cvp/tests/playbook.container.demo.yaml
  arista/cvp/tests/playbook.facts.demo.yaml
  docs/INSTALLATION.md
  docs/cv_configlet.md
  docs/cv_container.md
  docs/cv_device.md
  docs/cv_facts.md
  docs/cv_task.md
  examples/Makefile
  examples/README.md
  examples/ansible.cfg
  examples/inventory.ini
  examples/playbook.facts.demo.yaml
Labels: documentation

#54 Create custom issue template
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation, enhancement
