Repository aristanetworks/ansible-cvp, pull requests merged in 2020-05, with the labels that each got.

#189 Features/modules cleanup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/requirements.dev.txt
  .github/stale.yml
  .github/version.sh
  .github/workflows/linting.yml
  .github/workflows/pull_request.yml
  .github/workflows/rebase.yml
  .github/workflows/version_release.yml
  .github/yamllintrc
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.md
  ansible_collections/arista/cvp/LICENSE
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2018.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2019.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2020.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_client.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/logger.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_inventory.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v1.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v1.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v1.py
  ansible_collections/arista/cvp/plugins/modules/cv_task.py
  ansible_collections/arista/cvp/roles/dhcp_configuration/.travis.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/defaults/main.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/handlers/main.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/templates/dhcpd.conf.j2
  ansible_collections/arista/cvp/roles/dhcp_configuration/tests/inventory
  ansible_collections/arista/cvp/roles/dhcp_configuration/tests/test.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/vars/centos.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/vars/debian.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/vars/main.yml
  ansible_collections/arista/cvp/tests/ansible.cfg
  examples/inventory.ini
  examples/playbook.configlet.demo.yaml
  examples/playbook.container.demo.yaml
  examples/playbook.device.demo.yaml
  examples/playbook.facts.demo.yaml
  examples/playbook.tasks.demo.yaml
  pylintrc
  requirements.dev.txt
  requirements.txt
Labels: status: in-progress, type: Code quality

#191 Fix issue #190
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
Labels: module: cv_container, status: To be merged, type: bug

#195 update supported version matrix to make it clear
  README.md
Labels: status: To be merged, type: documentation

#203 Update Branching model information
  README.md
Labels: status: To be merged, type: documentation

#205 Add failure if device not available
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
Labels: module: cv_device, state: accepted, type: enhancement
