Repository aristanetworks/ansible-cvp, pull requests merged in 2020-01, with the labels that each got.

#106 Validate Python3 support
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/tests/inventory.ini
  ansible_collections/arista/cvp/tests/playbook.build.topology.yml
Labels: status: in-progress, type: enhancement

#114 Allow custom root container in cv_container
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
Labels: module: cv_container, status: in-progress, type: bug

#111 Issue #108 - Fix code to get coherent result in cv_container
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
Labels: cvp-version: Folsom, cvp-version: Grant, module: cv_container, status: To be merged

#119 cv_facts : use extend() instead of append() to avoid creating a…
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/tests/issue-118.yml
Labels: module: cv_facts, status: To be merged

#116 Remove save_topology option (#115)
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
Labels: module: cv_container, status: Merged

#112 upgrade of libssl
  Dockerfile-2.7
  Dockerfile-3
Labels: status: Merged

#110 Support a dev container for VSCode users (Issue #107)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: status: To be merged, type: Respository Enhancement

#123 Release v1.0.3a
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/version.sh
  Dockerfile-2.7
  Dockerfile-3
  Makefile
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/galaxy.yml
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/tests/inventory.ini
  ansible_collections/arista/cvp/tests/issue-118.yml
  ansible_collections/arista/cvp/tests/playbook.build.topology.yml
Labels: status: Merged

#127 cv_configlet : implement diff and set changed to true when appro…
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
Labels: module: cv_configlet, status: To be merged, type: enhancement

#126 cv device configlets mode
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v1.py
  docs/cv_device.md
Labels: module: cv_device, status: To be merged, type: enhancement
