Repository aristanetworks/ansible-cvp, pull requests merged in 2020-11, with the labels that each got.

#278 Cleanup cv_conflgit logging to remove EOS configs
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
Labels: module: cv_configlet

#280 Add option to configure ZTP on per systemMac or interface-mac-address
  .github/workflows/molecule.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_mac/converge.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_mac/molecule.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_mac/verify.yml
  ansible_collections/arista/cvp/molecule/dhcp_system_mac/converge.yml
  ansible_collections/arista/cvp/molecule/dhcp_system_mac/molecule.yml
  ansible_collections/arista/cvp/molecule/dhcp_system_mac/verify.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/README.md
  ansible_collections/arista/cvp/roles/dhcp_configuration/templates/dhcpd.conf.j2
Labels: role: ztp_configuration, type: Code quality

#277 Add support for ansible timeout to CV
  ansible_collections/arista/cvp/docs/how-to/cvp-authentication.md
  ansible_collections/arista/cvp/plugins/module_utils/tools_cv.py
Labels: module_utils: cv_client, type: documentation

#282 [FIX][DOCUMENTATION]: Module cv_container fix example
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
Labels: module: cv_container

#286 Remove unecessary become flag in dhcp_configuration role
  .github/workflows/molecule.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_mac/molecule.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/collections.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/converge.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/create.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/destroy.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/intended/configs/dhcpd.conf
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/inventory/group_vars/TOOLS.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/inventory/host_vars/all.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/inventory/hosts
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/molecule.yml
  ansible_collections/arista/cvp/molecule/dhcp_system_mac/molecule.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/README.md
  ansible_collections/arista/cvp/roles/dhcp_configuration/tasks/offline.yml
Labels: role: ztp_configuration, type: Code quality, type: bug

#287 Upgrade CI GH Action
  .github/workflows/documentation-build.yml
Labels: type: Code quality

#288 Upgrade CI GH Action
  .github/workflows/documentation-build.yml
Labels: type: Code quality
