Repository aristanetworks/ansible-cvp, pull requests merged in 2020-04, with the labels that each got.

#158 Issues/147 facts execution time
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2018.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2019.py
  ansible_collections/arista/cvp/plugins/module_utils/logger.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_inventory.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
Labels: module: cv_facts, state: accepted, status: in-progress, type: enhancement

#176 cvp 2020 update
  ansible_collections/arista/cvp/plugins/README.md
  ansible_collections/arista/cvp/plugins/__init__.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2020.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_client.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
Labels: state: accepted, status: in-progress, type: enhancement

#175 Fix issue with cv_container and relative topology
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  docs/cv_configlet.md
  docs/cv_container.md
  docs/cv_device.md
  docs/cv_facts.md
  docs/cv_task.md
Labels: bug, module: cv_container, state: accepted, status: cherry_pick, status: in-progress, type: bug

#172 Update DHCP Configuration role
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/roles/dhcp_configuration/.travis.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/README.md
  ansible_collections/arista/cvp/roles/dhcp_configuration/defaults/main.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/handlers/main.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/meta/main.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/tasks/main.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/templates/dhcpd.conf.j2
  ansible_collections/arista/cvp/roles/dhcp_configuration/tests/inventory
  ansible_collections/arista/cvp/roles/dhcp_configuration/tests/test.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/vars/centos.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/vars/debian.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/vars/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/defaults/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/tasks/main.yml
  requirements.txt
Labels: role: ztp_configuration, state: accepted, status: cherry_pick, type: documentation

#179 Features/cv configlet
  ansible_collections/arista/cvp/plugins/module_utils/tools_inventory.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v1.py
Labels: module: cv_configlet, state: accepted, status: in-progress, type: Code quality, type: enhancement

#168 Features/cv containers delete configlets
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2018.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2019.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
Labels: module: cv_container, state: accepted, status: in-progress, type: enhancement

#178 Issues/177 cv facts error code
  ansible_collections/arista/cvp/plugins/module_utils/cv_client.py
Labels: module_utils: cv_client, state: accepted, status: in-progress, type: bug

#186 update cv_configlet module to add configlets_notes optional parameter
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
Labels: module: cv_configlet, type: enhancement

#185 Fix #183 - Fix invalid fallback to port 80
  ansible_collections/arista/cvp/plugins/module_utils/cv_client.py
Labels: bug, module_utils: cv_client
