Repository aristanetworks/ansible-cvp, pull requests merged in 2020-03, with the labels that each got.

#141 Implement role to configure ZTP on CloudVision
  ansible_collections/arista/cvp/roles/ztp_configuration/.travis.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/README.md
  ansible_collections/arista/cvp/roles/ztp_configuration/defaults/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/handlers/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/meta/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/tasks/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/templates/dhcpd.conf.j2
  ansible_collections/arista/cvp/roles/ztp_configuration/tests/inventory
  ansible_collections/arista/cvp/roles/ztp_configuration/tests/test.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/vars/main.yml
Labels: state: accepted, status: cherry_pick to upstream, status: in-progress, type: enhancement

#149 Repository Cleanup
  Dockerfile
  Dockerfile-2.7
  Makefile
  ansible_collections/arista/cvp/tests/Makefile
  ansible_collections/arista/cvp/tests/README.md
  ansible_collections/arista/cvp/tests/inventory.ini
  ansible_collections/arista/cvp/tests/issue-118.yml
  ansible_collections/arista/cvp/tests/issue-27.yml
  ansible_collections/arista/cvp/tests/issue-58.yml
  ansible_collections/arista/cvp/tests/issue-95.yml
  ansible_collections/arista/cvp/tests/issue-99.yml
  ansible_collections/arista/cvp/tests/playbook.build.topology.yml
  ansible_collections/arista/cvp/tests/playbook.reset.topology.yml
  examples/inventory.ini
Labels: state: accepted, type: Respository Enhancement

#144 Fix deletion problem w/ additional containers #142
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2019.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
Labels: bug, state: accepted, status: in-progress

#148 Enable basic CI with Github actions
  .github/lint-yaml.sh
  .github/requirements.dev.txt
  .github/workflows/linting.yml
  .github/workflows/pull_request.yml
  .github/workflows/rebase.yml
  .github/workflows/stale.yml
  .github/yamllintrc
  .travis.yml
  ansible_collections/arista/cvp/galaxy.yml
Labels: state: accepted, status: To be merged, type: Respository Enhancement

#133 cv_device: fix a KeyError in check mode when provisioning a new device
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
Labels: module: cv_device, state: accepted, status: todo

#150 Remove the save_topology parameter in documentation
  README.md
  ansible_collections/arista/cvp/README.md
  docs/cv_container.md
  examples/Makefile
  examples/README.md
  examples/inventory.ini.example
  examples/playbook.container.demo.yaml
Labels: module: cv_container, state: accepted, status: To be merged, type: documentation

#152 ztp configuration refactoring
  README.md
  ansible_collections/arista/cvp/roles/ztp_configuration/README.md
  ansible_collections/arista/cvp/roles/ztp_configuration/handlers/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/tasks/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/templates/dhcpd.conf.j2
Labels: state: accepted, status: in-progress, type: enhancement

#155 Release v1.0.5 in master
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/lint-yaml.sh
  .github/requirements.dev.txt
  .github/workflows/linting.yml
  .github/workflows/pull_request.yml
  .github/workflows/rebase.yml
  .github/workflows/stale.yml
  .github/workflows/version_release.yml
  .github/yamllintrc
  .travis.yml
  Dockerfile
  Dockerfile-2.7
  Makefile
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/galaxy.yml
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2019.py
  ansible_collections/arista/cvp/plugins/module_utils/cv_client.py
  ansible_collections/arista/cvp/plugins/module_utils/logger.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_task.py
  ansible_collections/arista/cvp/roles/ztp_configuration/.travis.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/README.md
  ansible_collections/arista/cvp/roles/ztp_configuration/defaults/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/handlers/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/meta/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/tasks/main.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/templates/dhcpd.conf.j2
  ansible_collections/arista/cvp/roles/ztp_configuration/tests/inventory
  ansible_collections/arista/cvp/roles/ztp_configuration/tests/test.yml
  ansible_collections/arista/cvp/roles/ztp_configuration/vars/main.yml
  ansible_collections/arista/cvp/tests/Makefile
  ansible_collections/arista/cvp/tests/README.md
  ansible_collections/arista/cvp/tests/inventory.ini
  ansible_collections/arista/cvp/tests/issue-118.yml
  ansible_collections/arista/cvp/tests/issue-27.yml
  ansible_collections/arista/cvp/tests/issue-58.yml
  ansible_collections/arista/cvp/tests/issue-95.yml
  ansible_collections/arista/cvp/tests/issue-99.yml
  ansible_collections/arista/cvp/tests/playbook.build.topology.yml
  ansible_collections/arista/cvp/tests/playbook.reset.topology.yml
  contributing.md
  docs/cv_container.md
  examples/Makefile
  examples/README.md
  examples/inventory.ini
  examples/inventory.ini.example
  examples/playbook.container.demo.yaml
Labels: status: in-progress

#159 Features/124 apply logging to modules
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
Labels: type: enhancement

#161 Complete ztp_configuration meta information
  ansible_collections/arista/cvp/roles/ztp_configuration/meta/main.yml
Labels: role: ztp_configuration, state: accepted, status: To be merged, type: Code quality

#170 Fix cv_container to attach configlet to only expected container
  ansible_collections/arista/cvp/galaxy.yml
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/roles/ztp_configuration/meta/main.yml
Labels: bug, module: cv_container, type: bug
