Repository aristanetworks/ansible-cvp, pull requests merged in 2020-06, with the labels that each got.

#196 First configlets_sync role version
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/roles/configlets_sync/.travis.yml
  ansible_collections/arista/cvp/roles/configlets_sync/README.md
  ansible_collections/arista/cvp/roles/configlets_sync/defaults/main.yml
  ansible_collections/arista/cvp/roles/configlets_sync/files/ansible-cvp-sync.png
  ansible_collections/arista/cvp/roles/configlets_sync/handlers/main.yml
  ansible_collections/arista/cvp/roles/configlets_sync/meta/main.yml
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/init.yml
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/main.yml
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/pull.yml
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/push.yml
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/sync.yml
  ansible_collections/arista/cvp/roles/configlets_sync/templates/template.compare_configlets.j2
  ansible_collections/arista/cvp/roles/configlets_sync/templates/template.cvp.shared_configlets.j2
  ansible_collections/arista/cvp/roles/configlets_sync/templates/template.device_configlets.j2
  ansible_collections/arista/cvp/roles/configlets_sync/templates/template.shared_configlets.j2
  ansible_collections/arista/cvp/roles/configlets_sync/tests/inventory
  ansible_collections/arista/cvp/roles/configlets_sync/tests/test.yml
  ansible_collections/arista/cvp/roles/configlets_sync/vars/main.yml
Labels: status: in-progress, type: enhancement

#199 Cv devices move and update
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2020.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  docs/cv_device.md
  examples/playbook.device.demo.yaml
Labels: module: cv_device, state: accepted, status: in-progress, type: bug

#207 Update documentation
  Dockerfile
  Makefile
  README.md
  contributing.md
Labels: status: To be merged, type: documentation

#208 Ci docker runner
  .github/workflows/linting.yml
  .github/workflows/pull_request.yml
  .github/workflows/version_release.yml
  Makefile
Labels: state: accepted, type: Code quality, type: Respository Enhancement, type: enhancement

#209 Publish documentation to github page
  .github/workflows/documentation-build.yml
  Makefile
  ansible_collections/arista/cvp/docs/_build/ansible2rst.py
  ansible_collections/arista/cvp/docs/_build/cv_configlet.rst
  ansible_collections/arista/cvp/docs/_build/cv_container.rst
  ansible_collections/arista/cvp/docs/_build/cv_device.rst
  ansible_collections/arista/cvp/docs/_build/cv_facts.rst
  ansible_collections/arista/cvp/docs/_build/cv_task.rst
  ansible_collections/arista/cvp/docs/_build/index.rst
  ansible_collections/arista/cvp/docs/_build/rst.j2
  ansible_collections/arista/cvp/docs/_media/cv_ansible_logo.png
  ansible_collections/arista/cvp/docs/_media/favicon.ico
  ansible_collections/arista/cvp/docs/contributing.md
  ansible_collections/arista/cvp/docs/getting-started.md
  ansible_collections/arista/cvp/docs/installation/requirements.md
  ansible_collections/arista/cvp/docs/installation/setup-docker.md
  ansible_collections/arista/cvp/docs/installation/setup-galaxy.md
  ansible_collections/arista/cvp/docs/installation/setup-git.md
  ansible_collections/arista/cvp/docs/modules/cv_configlet.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_container.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_device.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_device_v1.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_facts.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_facts_v1.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_task.rst.md
  ansible_collections/arista/cvp/docs/requirements.txt
  ansible_collections/arista/cvp/docs/stylesheets/extra.css
  mkdocs.yml
Labels: status: To be merged, type: Respository Enhancement, type: documentation

#211 Fix issue 120 - cv_device configlet update
  ansible_collections/arista/cvp/plugins/module_utils/cv_api2020.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
Labels: module: cv_device, type: bug
