Repository aristanetworks/ansible-cvp, pull requests merged in 2021-12, with the labels that each got.

#423 CI(pytest): Add test dependencies for API validation
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/requirements-dev.txt
  tests/Makefile
  tests/README.md
  tests/lib/config.py
  tests/system/test_cv_container_tools.py
  tests/system/test_cv_device_tools.py
  tests/system/test_cv_device_tools_fqdn.py
  tests/system/test_cv_device_tools_generic.py
  tests/system/test_cv_device_tools_serial.py
Labels: type: dependencies, type: Code quality, module_utils: cv_client, module: cv_device_v3

#424 Fix(cv_device_v3): Fix strict mode not inheriting configlets from containers
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  tests/system/test_cv_device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3

#410 Feat(cv_device_v3): Implement device reset w/ state absent
  ansible_collections/arista/cvp/docs/how-to/v3/cv_device_v3.md
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
Labels: type: documentation, type: enhancement, module_utils: cv_client, module: cv_device_v3
