Repository aristanetworks/ansible-cvp, pull requests merged in 2021-11, with the labels that each got.

#418 Doc: Refactor installation page
  ansible_collections/arista/cvp/docs/how-to/v1/cv_configlet.md
  ansible_collections/arista/cvp/docs/installation/collection-installation.md
  ansible_collections/arista/cvp/docs/installation/development.md
  ansible_collections/arista/cvp/docs/installation/requirements.md
  ansible_collections/arista/cvp/docs/installation/setup-docker.md
  ansible_collections/arista/cvp/docs/installation/setup-environement.md
  ansible_collections/arista/cvp/docs/installation/setup-galaxy.md
  ansible_collections/arista/cvp/docs/installation/setup-git.md
  mkdocs.yml
Labels: type: documentation

#417 Bump: Upgrade ansible runtime version
  ansible_collections/arista/cvp/collections.yml
  ansible_collections/arista/cvp/requirements-dev.txt
Labels: type: dependencies

#416 Doc: Update CSS for better dark mode rendering
  ansible_collections/arista/cvp/docs/stylesheets/extra.material.css
  mkdocs.yml
Labels: type: documentation

#415 Feat(dhcp_configuration): Allow networks with an empty range in dhcpd.conf in arista.avd.dhcp_configuration
  .github/workflows/pull-request-triage.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/templates/dhcpd.conf.j2
Labels: role: ztp_configuration, type: Code quality

#414 Refactor: Pytest refactoring and fixes for system test cases
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  tests/Makefile
  tests/lib/config.py
  tests/lib/utils.py
  tests/pytest.ini
  tests/system/constants_data.py
  tests/system/test_cv_container_tools.py
  tests/system/test_cv_device_tools.py
  tests/system/test_cv_device_tools_fqdn.py
  tests/system/test_cv_device_tools_serial.py
Labels: module_utils: cv_client, module: cv_device_v3, module: cv_container_v3

#420 Refactor: Removing repeated entry from the makefile in pytest refactoring code
  tests/Makefile
Labels: module_utils: cv_client, module: cv_device_v3

#422 Make: Initial Ansible Execution Engine definition
  ansible_collections/arista/cvp/meta/execution-environment.yml
Labels: type: dependencies

#421 Doc: Fix multiple CSS rendering
  .gitignore
  ansible_collections/arista/cvp/docs/requirements.txt
  ansible_collections/arista/cvp/docs/stylesheets/extra.material.css
Labels: type: documentation, type: dependencies
