Repository aristanetworks/ansible-cvp, pull requests merged in 2021-07, with the labels that each got.

#376 cv_configlet_v3: update configlet note when the config content is not…
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
Labels: module: cv_configlet_v3, module_utils: cv_client, type: enhancement

#367 Add support for reordering of configlet in cv_device_v3
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module: cv_device_v3, module_utils: cv_client, status: testing, type: enhancement

#366 Implement default search on Hostname field
  Makefile
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/_build/cv_device_v3.rst
  ansible_collections/arista/cvp/docs/modules/cv_device_v3.rst.md
  ansible_collections/arista/cvp/docs/release-notes/v1.x.md
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/requirements.txt
  tests/unit/test_cvDeviceTools.py
Labels: module: cv_container_v3, module: cv_device_v3, module_utils: cv_client, type: dependencies, type: documentation

#379 Release v3.1.0
  .github/workflows/continuous_integration.yml
  Makefile
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/_build/cv_device_v3.rst
  ansible_collections/arista/cvp/docs/modules/cv_device_v3.rst.md
  ansible_collections/arista/cvp/docs/release-notes/v1.x.md
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/galaxy.yml
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/tools.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_cv.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/requirements.txt
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/pull.yml
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/push.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/tasks/offline.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/tasks/online.yml
  tests/unit/test_cvDeviceTools.py
Labels: module: cv_configlet, module: cv_configlet_v3, module: cv_container_v3, module: cv_device_v3, module_utils: cv_client, role: configlets_sync, role: ztp_configuration, type: Code quality, type: dependencies, type: documentation

#380 Doc: Update table
  ansible_collections/arista/cvp/README.md
Labels: type: documentation

#382 Red Hat automation hub compliance update
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/cvp/meta/runtime.yml
  ansible_collections/arista/cvp/requirements-dev.txt
Labels: type: Code quality, type: dependencies

#383 Doc: Release notes for 3.1.1
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/galaxy.yml
Labels: type: documentation

#384 Release v3.1.1
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/galaxy.yml
  ansible_collections/arista/cvp/meta/runtime.yml
  ansible_collections/arista/cvp/requirements-dev.txt
Labels: type: Code quality, type: dependencies, type: documentation

#385 Reformat: Apply python linting warning in import
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
Labels: module: cv_configlet, module: cv_configlet_v3, module: cv_device_v3, module_utils: cv_client, type: Code quality

#387 v3.2.2
  .github/workflows/continuous_integration.yml
  Makefile
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/galaxy.yml
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
Labels: module: cv_configlet, module: cv_configlet_v3, module: cv_device_v3, module_utils: cv_client, type: Code quality, type: documentation
