Repository aristanetworks/ansible-cvp, pull requests merged in 2021-09, with the labels that each got.

#388 Doc(mkdoc): Update requirements & dark theme support
  ansible_collections/arista/cvp/docs/requirements.txt
  ansible_collections/arista/cvp/docs/stylesheets/highlight.js
  ansible_collections/arista/cvp/docs/stylesheets/tables.js
  mkdocs.yml
Labels: type: documentation, type: dependencies

#394 Doc: Fix incorrect link in README file
  README.md
Labels: type: documentation

#374 Feat(cv_device_v3): Add serialNumber support to manage devices.
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/cvp/docs/_build/cv_device_v3.rst
  ansible_collections/arista/cvp/docs/how-to/v3/cv_device_v3.md
  ansible_collections/arista/cvp/docs/modules/cv_device_v3.rst.md
  ansible_collections/arista/cvp/docs/release-notes/v1.x.md
  ansible_collections/arista/cvp/docs/requirements.txt
  ansible_collections/arista/cvp/docs/stylesheets/highlight.js
  ansible_collections/arista/cvp/docs/stylesheets/tables.js
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  tests/activate-debug.env
  tests/unit/data.py
  tests/unit/test_cvDeviceTools_Serial.py
  tests/unit/test_cvDeviceTools_fqdn.py
  tests/unit/test_cvDeviceTools_generic.py
  tests/unit/test_deviceInventory.py
  tests/unit/test_jsonSchema.py
Labels: type: documentation, type: dependencies, type: Code quality, module_utils: cv_client, module: cv_device_v3, data-model changes

#397 Make: Deactivate minify as workaround for Read the Doc
  ansible_collections/arista/cvp/docs/requirements.txt
  mkdocs.yml
Labels: type: documentation, type: dependencies

#395 Bump: Update python version & requirements
  .devcontainer/devcontainer.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/lint-yaml.sh
  .github/pre-commit
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/requirements-dev.txt
  development/docker-compose.yml
Labels: type: documentation, type: dependencies, type: Code quality

#396 Fix(cv_device_v3): Update format string
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3

#398 Make: Add changelog script
  .github/changelog.sh
Labels: type: Code quality

#399 Fix(cv_device_v3): Correct format ID in str raising an error
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3

#402 Doc: Update dead links to releases/v1.0.x
  ansible_collections/arista/cvp/docs/release-notes/v1.x.md
Labels: type: documentation

#403 Doc: Release notes for v3.2.0
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/galaxy.yml
Labels: type: documentation

#401 Release v3.2.0
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/changelog.sh
  .github/lint-yaml.sh
  .github/pre-commit
  .github/workflows/continuous_integration.yml
  .github/workflows/pr_linter.yml
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/_build/cv_device_v3.rst
  ansible_collections/arista/cvp/docs/how-to/v3/cv_device_v3.md
  ansible_collections/arista/cvp/docs/modules/cv_device_v3.rst.md
  ansible_collections/arista/cvp/docs/release-notes/v1.x.md
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/docs/requirements.txt
  ansible_collections/arista/cvp/docs/stylesheets/highlight.js
  ansible_collections/arista/cvp/docs/stylesheets/tables.js
  ansible_collections/arista/cvp/galaxy.yml
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/requirements-dev.txt
  ansible_collections/arista/cvp/requirements.txt
  development/docker-compose.yml
  mkdocs.yml
  tests/activate-debug.env
  tests/unit/data.py
  tests/unit/test_cvDeviceTools_Serial.py
  tests/unit/test_cvDeviceTools_fqdn.py
  tests/unit/test_cvDeviceTools_generic.py
  tests/unit/test_deviceInventory.py
  tests/unit/test_jsonSchema.py
Labels: type: documentation, type: dependencies, type: Code quality, module_utils: cv_client, module: cv_device_v3, data-model changes
