Repository aristanetworks/ansible-cvp, pull requests merged in 2021-03, with the labels that each got.

#304 fix(logger): Implement UUID in default log file
  ansible_collections/arista/cvp/plugins/module_utils/logger.py
Labels: module_utils: cv_client

#302 doc(README): Update landing pages
  README.md
  ansible_collections/arista/cvp/README.md
Labels: type: documentation

#306 Move requirements file to collection root
  ansible_collections/arista/cvp/requirements.txt
Labels: type: Code quality, type: dependencies

#305 cv_container: fix topology for 2 containers
  ansible_collections/arista/cvp/plugins/module_utils/tools_tree.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
Labels: module: cv_container, module_utils: cv_client

#311 Change Requirements path
  .github/workflows/ansible_test.yml
  Makefile
  ansible_collections/arista/cvp/docs/installation/requirements.md
  ansible_collections/arista/cvp/docs/installation/setup-environement.md
  ansible_collections/arista/cvp/requirements-dev.txt
  development/requirements-dev.txt
  development/requirements.txt
Labels: type: dependencies, type: documentation

#312 doc(general): Update to support v3 + cleanup
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/getting-started.md
  ansible_collections/arista/cvp/docs/how-to/v1/cv_configlet.md
  ansible_collections/arista/cvp/docs/how-to/v1/cv_container.md
  ansible_collections/arista/cvp/docs/how-to/v1/cv_device.md
  ansible_collections/arista/cvp/docs/how-to/v1/cv_facts.md
  ansible_collections/arista/cvp/docs/how-to/v3/cv_configlet.md
  ansible_collections/arista/cvp/docs/how-to/v3/cv_container.md
  ansible_collections/arista/cvp/docs/how-to/v3/cv_device.md
  mkdocs.yml
Labels: type: documentation

#319 doc: regenerate modules documentation
  ansible_collections/arista/cvp/docs/_build/cv_configlet.rst
  ansible_collections/arista/cvp/docs/_build/cv_container.rst
  ansible_collections/arista/cvp/docs/_build/cv_device.rst
  ansible_collections/arista/cvp/docs/_build/cv_facts.rst
  ansible_collections/arista/cvp/docs/_build/cv_task.rst
  ansible_collections/arista/cvp/docs/how-to/cv_device.md
  ansible_collections/arista/cvp/docs/modules/cv_configlet.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_container.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_device.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_facts.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_task.rst.md
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
Labels: module: cv_device, type: documentation

#320 Update module documentation
  .github/workflows/ansible_test.yml
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/how-to/v3/cv_configlet_v3.md
  ansible_collections/arista/cvp/docs/how-to/v3/cv_container_v3.md
  ansible_collections/arista/cvp/docs/how-to/v3/cv_device_v3.md
  mkdocs.yml
Labels: type: Code quality, type: documentation

#324 doc(avd.sh): Update broken links in README
  README.md
Labels: type: documentation

#318 fix(json_schema): Enable whitespace support in path name
  ansible_collections/arista/cvp/plugins/module_utils/schema.py
Labels: module: cv_configlet, type: bug

#323 Container v3 error handling
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
Labels: module: cv_container
