Repository aristanetworks/ansible-cvp, pull requests merged in 2021-04, with the labels that each got.

#326 Fix(cv_container): remove non-existing key as output in schema validation
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
Labels: module: cv_container, type: bug

#322 Add support for apply_mode function
  ansible_collections/arista/cvp/docs/_build/cv_device_v3.rst
  ansible_collections/arista/cvp/docs/how-to/v3/cv_device_v3.md
  ansible_collections/arista/cvp/docs/modules/cv_device_v3.rst.md
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/response.py
  ansible_collections/arista/cvp/plugins/module_utils/schema.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
Labels: module_utils: cv_client, type: documentation

#325 Use multiple version of JSON schema to support v1 and v3 in parallel
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v1.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
Labels: module: cv_configlet, module: cv_container, module: cv_device, module_utils: cv_client

#329 Update CI for v3
  .github/workflows/ansible_test.yml
  .github/workflows/continuous_integration.yml
  .github/workflows/documentation-check.yml
  .github/workflows/linting.yml
  .github/workflows/molecule.yml
  .github/workflows/version_release.yml
  .pre-commit-config.yaml
  ansible_collections/arista/cvp/docs/_build/rst.j2
  ansible_collections/arista/cvp/molecule/README.md
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v1.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  pylintrc
  tests/Makefile
  tests/unit/test_jsonSchema.py
Labels: module_utils: cv_client, type: Code quality, type: documentation

#330 ci(actions): Update all-in-one CI action file
  .github/workflows/continuous_integration.yml
Labels: type: Code quality

#331 Documentation update
  ansible_collections/arista/cvp/docs/installation/requirements.md
  mkdocs.yml
Labels: module: cv_configlet, module: cv_container, module: cv_device, module: cv_facts, module: cv_task, module_utils: cv_client, type: Code quality, type: dependencies, type: documentation

#339 Doc update to prepare v3
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/contributing.md
  ansible_collections/arista/cvp/docs/release-notes/v1.x.md
  ansible_collections/arista/cvp/docs/release-notes/v2.x.md
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/docs/stylesheets/extra.material.css
  mkdocs.yml
Labels: module: cv_configlet, module: cv_container, module: cv_device, module: cv_facts, module: cv_task, module_utils: cv_client, type: Code quality, type: dependencies, type: documentation

#332 cv_device_v3: Add error handlers to stop module execution
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
Labels: module_utils: cv_client, type: Code quality, type: enhancement

#338 Add apply_mode feature to cv_container_v3
  ansible_collections/arista/cvp/docs/_build/cv_container_v3.rst
  ansible_collections/arista/cvp/docs/contributing.md
  ansible_collections/arista/cvp/docs/how-to/v3/cv_container_v3.md
  ansible_collections/arista/cvp/docs/modules/cv_container_v3.rst.md
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/response.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  tests/unit/test_cvContainerTools.py
Labels: module_utils: cv_client, type: documentation, type: enhancement

#340 Ansible code linting as per galaxy-importer
  .github/workflows/continuous_integration.yml
  Makefile
  ansible_collections/arista/cvp/requirements-dev.txt
  ansible_collections/arista/cvp/roles/configlets_sync/meta/main.yml
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/init.yml
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/pull.yml
  ansible_collections/arista/cvp/roles/configlets_sync/tasks/push.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/tasks/offline.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/tasks/online.yml
Labels: module: cv_configlet, module: cv_container, module: cv_device, module: cv_facts, module: cv_task, module_utils: cv_client, role: configlets_sync, role: ztp_configuration, type: Code quality, type: dependencies, type: documentation

#341 Fix 'how to' documentation for cv_container_v3 module
  ansible_collections/arista/cvp/docs/how-to/v3/cv_container_v3.md
Labels: type: documentation

#343 device_tools: fix DEBUG message error where a list was added instead …
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client

#344 fix(doc): Remove trailing white space
  ansible_collections/arista/cvp/docs/how-to/v3/cv_container_v3.md
Labels: module: cv_container, type: Code quality, type: documentation

#346 Fix(ansible): Configure requirements to support ansible 2.9 and 2.10
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/cvp/docs/installation/requirements.md
  ansible_collections/arista/cvp/meta/runtime.yml
  ansible_collections/arista/cvp/requirements-dev.txt
Labels: type: Code quality, type: documentation

#349 Fix(cv_container_v3): Implement standardize fucntion for containers
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
Labels: module_utils: cv_client

#348 Fix(cv_task_v3): Configure state to be passed to tasker
  ansible_collections/arista/cvp/plugins/modules/cv_task_v3.py
Labels: module: cv_task

#316 cv_configlet_v3: add delete configlet failure message
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
Labels: module_utils: cv_client, type: enhancement

#350 cv_device_v3 error handling improvments
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client

#351 doc(mkdocs): Look & Feel enhancements + code snippets
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/cvp/docs/installation/requirements.md
  ansible_collections/arista/cvp/docs/installation/setup-docker.md
  ansible_collections/arista/cvp/docs/installation/setup-environement.md
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/docs/requirements.txt
  development/docker-compose.yml
  mkdocs.yml
Labels: type: Code quality, type: dependencies, type: documentation

#352 Add documentation: howto for cv_task_v3 module
  ansible_collections/arista/cvp/docs/how-to/v3/cv_task_v3.md
Labels: type: documentation

#354 doc(mkdocs): Site enhancements
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/_overrides/main.html
  ansible_collections/arista/cvp/docs/how-to/v3/cv_task_v3.md
  mkdocs.yml
Labels: type: Code quality, type: documentation
