Repository aristanetworks/ansible-cvp, pull requests merged in 2022-10, with the labels that each got.

#505 Feat: Implement image bundle on device level
  ansible_collections/arista/cvp/docs/modules/cv_device_v3.rst.md
  ansible_collections/arista/cvp/examples/README.md
  ansible_collections/arista/cvp/examples/cv_image_v3/assign-image-bundle-to-device.yaml
  ansible_collections/arista/cvp/examples/cv_image_v3/remove-image-bundle-to-device.yaml
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
  tests/lib/json_data.py
  tests/system/constants_data.py
Labels: type: documentation, module_utils: cv_client, module: cv_device_v3, module: cv_facts_v3

#513 Fix(cv_facts_v3): make image bundle name key usage consistent
  ansible_collections/arista/cvp/docs/how-to/v3/cv_facts_v3.md
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
Labels: type: documentation, module_utils: cv_client

#535 Feat: expose verbose option in cv_facts_v3
  ansible_collections/arista/cvp/docs/how-to/v3/cv_facts_v3.md
  ansible_collections/arista/cvp/docs/modules/cv_facts_v3.rst.md
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
Labels: type: documentation, module_utils: cv_client, module: cv_facts_v3

#529 Feat(module_utils): Add support for approve/execute actions
  .github/workflows/pull-request-triage.yml
  ansible_collections/arista/cvp/docs/how-to/v3/cv_change_control_v3.md
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_create_approve_and_execute.yml
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_create_approve_execute.yml
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_create_remove.yml
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_create_schedule.yml
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_create_schedule_and_approve.yml
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_create_schedule_approve.yml
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_create_show.yml
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_create_unapprove.yml
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_remove_unknown.yml
  ansible_collections/arista/cvp/examples/cv_change_control_v3/change_control_v3_show_unknown.yml
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
Labels: type: documentation, type: Code quality, module_utils: cv_client

#533 Refactor: relax the condition to raise exception for inline vault password
  ansible_collections/arista/cvp/docs/how-to/cvp-authentication.md
  ansible_collections/arista/cvp/plugins/module_utils/tools_cv.py
  tests/unit/test_tools_cv.py
Labels: type: documentation, module_utils: cv_client

#527 Feat: request add support for access point provisioning
  .gitignore
  ansible_collections/arista/cvp/molecule/Makefile
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/collections.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/create.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/destroy.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/intended/configs/dhcpd.conf
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/inventory/group_vars/TOOLS.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/molecule.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/README.md
  ansible_collections/arista/cvp/roles/dhcp_configuration/templates/dhcpd.conf.j2
Labels: role: ztp_configuration

#541 Fix(cv_device_v3): Allow all search_by options when assigning and removing image bundles
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3
