Repository aristanetworks/ansible-cvp, pull requests merged in 2022-09, with the labels that each got.

#509 Fix: Remove ansible-test enforced GPL3 header for modules
  .gitignore
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/generic_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/logger.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/exceptions.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v1.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
  ansible_collections/arista/cvp/plugins/module_utils/response.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v1.py
  ansible_collections/arista/cvp/plugins/module_utils/tag_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/task_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/tools.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_cv.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_inventory.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_schema.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_tree.py
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_image_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_tag_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_task.py
  ansible_collections/arista/cvp/plugins/modules/cv_task_v3.py
  ansible_collections/arista/cvp/tests/sanity/ignore-2.11.txt
  ansible_collections/arista/cvp/tests/sanity/ignore-2.12.txt
  tests/data/container_tools_unit.py
  tests/data/facts_system_cvaas.py
  tests/data/image_unit.py
  tests/lib/cvaas_configlet.py
  tests/lib/helpers.py
  tests/lib/json_data.py
  tests/lib/static_content.py
Labels: module: cv_facts, module: cv_container, module: cv_configlet, module: cv_device, module: cv_task, module_utils: cv_client, module: cv_device_v3, module: cv_container_v3, module: cv_configlet_v3, module: cv_task_v3, data-model changes, module: cv_facts_v3

#518 Doc: Tag examples
  ansible_collections/arista/cvp/docs/modules/cv_tag_v3.rst.md
  ansible_collections/arista/cvp/plugins/modules/cv_tag_v3.py
Labels: type: documentation

#524 Fix(module_utils): dict key check on CC indexing is broken
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
Labels: module_utils: cv_client

#528 Doc: Detail all options and fix rendering
  ansible_collections/arista/cvp/docs/how-to/v3/cv_change_control_v3.md
Labels: type: documentation
