Repository aristanetworks/ansible-cvp, pull requests merged in 2022-07, with the labels that each got.

#469 Feat: Facts update
  ansible_collections/arista/cvp/docs/how-to/v3/cv_facts_v3.md
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
Labels: type: documentation, module_utils: cv_client, module: cv_device_v3, module: cv_facts_v3

#479 Feat(module_utils): raise NotImplementedError if encrypted Vault password…
  ansible_collections/arista/cvp/plugins/module_utils/tools_cv.py
  tests/lib/mock_ansible.py
  tests/unit/test_tools_cv.py
Labels: module_utils: cv_client

#488 Feat(cv_facts_v3): Show assigned image bundles on devices and containers
  ansible_collections/arista/cvp/docs/how-to/v3/cv_facts_v3.md
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
Labels: type: documentation, module_utils: cv_client, module: cv_facts_v3

#459 Feat: New module to support topology tags
  ansible_collections/arista/cvp/docs/how-to/v3/cv_tag_v3.md
  ansible_collections/arista/cvp/docs/modules/cv_tag_v3.rst.md
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
  ansible_collections/arista/cvp/plugins/module_utils/tag_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_tag_v3.py
Labels: type: documentation, module_utils: cv_client

#492 Make(actions): Update changelog script base url to point to ansible-cvp
  .github/changelog.sh
Labels: type: Code quality

#491 Doc: Release notes from v3.4.0
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
Labels: type: documentation

#493 Doc: Updated cvp-authentication.md
  ansible_collections/arista/cvp/docs/how-to/cvp-authentication.md
Labels: type: documentation

#494 Bump: updated min cvprac version
  ansible_collections/arista/cvp/requirements.txt
Labels: type: dependencies

#496 Doc: edited mkdocs to include new modules
  ansible_collections/arista/cvp/changelogs/fragments_backup/v3.4.0.yml
  ansible_collections/arista/cvp/docs/_build/cv_configlet.rst
  ansible_collections/arista/cvp/docs/_build/cv_configlet_v3.rst
  ansible_collections/arista/cvp/docs/_build/cv_container.rst
  ansible_collections/arista/cvp/docs/_build/cv_container_v3.rst
  ansible_collections/arista/cvp/docs/_build/cv_device.rst
  ansible_collections/arista/cvp/docs/_build/cv_device_v3.rst
  ansible_collections/arista/cvp/docs/_build/cv_facts.rst
  ansible_collections/arista/cvp/docs/_build/cv_facts_v3.rst
  ansible_collections/arista/cvp/docs/_build/cv_image_v3.rst
  ansible_collections/arista/cvp/docs/_build/cv_task.rst
  ansible_collections/arista/cvp/docs/_build/cv_task_v3.rst
  ansible_collections/arista/cvp/docs/_build/index.rst
  ansible_collections/arista/cvp/docs/modules/cv_change_control_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_configlet_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_container_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_device_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_facts_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_image_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_tag_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_task_v3.rst.md
  ansible_collections/arista/cvp/galaxy.yml
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_image_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_tag_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_task.py
  ansible_collections/arista/cvp/plugins/modules/cv_task_v3.py
  mkdocs.yml
Labels: type: documentation, module: cv_facts, module: cv_container, module: cv_configlet, module: cv_device, module: cv_task, role: ztp_configuration, module: cv_device_v3, module: cv_container_v3, module: cv_configlet_v3, module: cv_task_v3, module: cv_facts_v3
