Repository aristanetworks/ansible-cvp, pull requests merged in 2022-01, with the labels that each got.

#429 Doc: Announce deprecation of arista.cvp v1 modules
  Makefile
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/_build/cv_configlet.rst
  ansible_collections/arista/cvp/docs/_build/cv_container.rst
  ansible_collections/arista/cvp/docs/_build/cv_device.rst
  ansible_collections/arista/cvp/docs/_build/cv_device_v3.rst
  ansible_collections/arista/cvp/docs/_build/cv_facts.rst
  ansible_collections/arista/cvp/docs/_build/cv_task.rst
  ansible_collections/arista/cvp/docs/modules/cv_configlet.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_configlet_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_container.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_container_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_device.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_device_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_facts.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_task.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_task_v3.rst.md
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_task.py
Labels: type: documentation, module: cv_facts, module: cv_container, module: cv_configlet, module: cv_device, module: cv_task

#431 Doc: Update image for better dark mode support
  ansible_collections/arista/cvp/medias/ansible-cloudvision.png
  development/Makefile
  development/README.md
  development/docker-stack.env
  development/install.sh
Labels: type: documentation, type: enhancement, type: Code quality

#436 Reformat: Python code linting
  .github/workflows/pull-request-management.yml
  .github/workflows/pull-request-triage.yml
  ansible_collections/arista/cvp/meta/runtime.yml
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/task_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_task.py
  ansible_collections/arista/cvp/plugins/modules/cv_task_v3.py
Labels: module: cv_facts, module: cv_container, module: cv_configlet, module: cv_device, module: cv_task, type: Code quality, module_utils: cv_client, module: cv_device_v3, module: cv_container_v3, module: cv_configlet_v3, module: cv_task_v3

#435 CI(actions): Move to manual pre-commit step
  .github/workflows/pull-request-management.yml
Labels: type: Code quality

#437 Fix(cv_container_v3): When a container does not have configlets, has_configlets() returns True
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  tests/__init__.py
  tests/lib/__init__.py
  tests/lib/json_data.py
  tests/lib/mock.py
  tests/lib/parametrize.py
  tests/lib/utils.py
  tests/pytest.ini
  tests/system/__init__.py
  tests/system/test_cv_container_tools.py
  tests/system/test_cv_device_tools.py
  tests/system/test_cv_device_tools_fqdn.py
  tests/system/test_cv_device_tools_generic.py
  tests/system/test_cv_device_tools_serial.py
  tests/unit/__init__.py
  tests/unit/data.py
  tests/unit/test_container_inputs.py
  tests/unit/test_cv_container_tools.py
  tests/unit/test_cv_response.py
  tests/unit/test_device_element.py
  tests/unit/test_device_inventory.py
  tests/unit/test_json_schema.py
Labels: module_utils: cv_client, module: cv_container_v3

#438 CI(ansible): Fix ansible-test runtime error root cause
  .git-commit-template
  .github/workflows/pull-request-management.yml
  .github/workflows/tag-management.yml
  ansible_collections/arista/cvp/galaxy.yml
Labels: type: Code quality

#430 Feat: cv_facts_v3 phase 1 implementation
  .github/labeler.yml
  .github/workflows/pull-request-triage.yml
  .gitignore
  Makefile
  README.md
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/_build/cv_configlet.rst
  ansible_collections/arista/cvp/docs/_build/cv_container.rst
  ansible_collections/arista/cvp/docs/_build/cv_device.rst
  ansible_collections/arista/cvp/docs/_build/cv_device_v3.rst
  ansible_collections/arista/cvp/docs/_build/cv_facts.rst
  ansible_collections/arista/cvp/docs/_build/cv_facts_v3.rst
  ansible_collections/arista/cvp/docs/_build/cv_task.rst
  ansible_collections/arista/cvp/docs/_build/index.rst
  ansible_collections/arista/cvp/docs/how-to/v3/cv_facts_v3.md
  ansible_collections/arista/cvp/docs/modules/cv_device_v3.rst.md
  ansible_collections/arista/cvp/docs/modules/cv_facts_v3.rst.md
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/schema_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  mkdocs.yml
  tests/Makefile
  tests/README.md
  tests/data/__init__.py
  tests/data/container_tools_unit.py
  tests/data/facts_system_cvaas.py
  tests/data/facts_unit.py
  tests/lib/helpers.py
  tests/lib/json_data.py
  tests/lib/mock.py
  tests/lib/parametrize.py
  tests/lib/utils.py
  tests/system/test_cv_configlet.py
  tests/system/test_cv_facts_tools.py
  tests/unit/test_cv_container_tools.py
  tests/unit/test_cv_facts_tools.py
Labels: type: documentation, type: Code quality, module_utils: cv_client, data-model changes

#434 Fix: Add error handling with custom exceptions
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/exceptions.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  tests/data/container_tools_unit.py
  tests/lib/config.py
  tests/lib/json_data.py
  tests/lib/mock.py
  tests/lib/utils.py
  tests/unit/test_cv_container_tools.py
Labels: type: Code quality, module_utils: cv_client, module: cv_container_v3

#428 Feat: Implement initial module for image management phase1
  .github/workflows/pull-request-triage.yml
  ansible_collections/arista/cvp/docs/_build/index.rst
  ansible_collections/arista/cvp/docs/modules/cv_image_v3.rst.md
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_image_v3.py
Labels: type: documentation, module: cv_facts, type: Code quality, module_utils: cv_client, module: cv_image_v3

#444 Feat(cv_container_v3): Support for removing all configlets from a container
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
Labels: type: enhancement, state: accepted, module_utils: cv_client, module: cv_container_v3
