Repository aristanetworks/ansible-cvp, pull requests merged in 2022-06, with the labels that each got.

#481 Feat: (dhcp_configuration) add a name to the dhcp record
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/inventory/group_vars/TOOLS.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/README.md
  ansible_collections/arista/cvp/roles/dhcp_configuration/templates/dhcpd.conf.j2
Labels: role: ztp_configuration

#478 Refactor(pytest): remove distutils import to anticipate deprecation
  ansible_collections/arista/cvp/docs/_build/ansible2rst.py
  tests/lib/config.py
Labels: type: documentation

#471 Fix: (image_tools) Change from error to warning if image already exists
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
Labels: module_utils: cv_client

#458 Feat: Add svc account token auth method for on-prem and standardize i…
  ansible_collections/arista/cvp/docs/_media/serviceaccount1.png
  ansible_collections/arista/cvp/docs/_media/serviceaccount2.png
  ansible_collections/arista/cvp/docs/_media/serviceaccount3.png
  ansible_collections/arista/cvp/docs/how-to/cvp-authentication.md
  ansible_collections/arista/cvp/plugins/module_utils/tools_cv.py
Labels: type: documentation, state: accepted, module_utils: cv_client
