Repository aristanetworks/ansible-cvp, pull requests merged in 2022-08, with the labels that each got.

#497 Doc: modified mkdocs to be inline with AVD site
  .pre-commit-config.yaml
  ansible_collections/arista/cvp/docs/requirements.txt
  ansible_collections/arista/cvp/docs/stylesheets/extra.material.css
  ansible_collections/arista/cvp/docs/stylesheets/highlight.js
  ansible_collections/arista/cvp/docs/stylesheets/tables.js
  mkdocs.yml
Labels: type: documentation, type: dependencies

#502 CI: update feature_requests.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: type: Code quality

#503 Doc: Readme cleanup
  README.md
Labels: type: documentation
