Repository aristanetworks/ansible-cvp, pull requests merged in 2023-08, with the labels that each got.

#621 Test: Adding integration tests for cv_device_v3
  ansible_collections/arista/cvp/molecule/cv_device_v3/converge.yml
  ansible_collections/arista/cvp/molecule/cv_device_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_device_v3/test_apply_detach_bundle.yml
  ansible_collections/arista/cvp/molecule/cv_device_v3/test_apply_detach_configlet.yml
  ansible_collections/arista/cvp/molecule/cv_device_v3/test_decommission_factory_reset_provisioning_reset.yml
  ansible_collections/arista/cvp/molecule/cv_device_v3/test_move_and_deploy_device.yml
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3

#594 Feat(cv_device_v3): Add "inventory_mode" to allow ignoring missing devices
  ansible_collections/arista/cvp/docs/how-to/v3/cv_device_v3.md
  ansible_collections/arista/cvp/docs/schema/cv_device_v3.md
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
Labels: type: documentation, module_utils: cv_client, module: cv_device_v3, module: cv_container_v3, module: cv_configlet_v3

#668 Bump: Release v3.8.0
  ansible_collections/arista/cvp/CHANGELOG.rst
  ansible_collections/arista/cvp/changelogs/.plugin-cache.yaml
  ansible_collections/arista/cvp/changelogs/changelog.yaml
  ansible_collections/arista/cvp/changelogs/fragments_backup/v3.8.0.yml
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/galaxy.yml
Labels: type: documentation
