Repository aristanetworks/ansible-cvp, pull requests merged in 2023-11, with the labels that each got.

#681 CI: Add readthedocs.yaml configuration file
  .readthedocs.yaml
  ansible_collections/arista/cvp/docs/requirements.txt
  mkdocs.yml
Labels: type: documentation, type: dependencies

#679 Fix(cv_tag_v3): Long workspace name to avoid conflict
  ansible_collections/arista/cvp/molecule/cv_tag_v3/test_cv_tag_v3_device.yml
  ansible_collections/arista/cvp/molecule/cv_tag_v3/test_cv_tag_v3_interface.yml
  ansible_collections/arista/cvp/plugins/module_utils/tag_tools.py
Labels: module_utils: cv_client

#667 Fix(cv_device_v3): reconciled configlets are not treated specially
  ansible_collections/arista/cvp/molecule/cv_device_v3/converge.yml
  ansible_collections/arista/cvp/molecule/cv_device_v3/reconcile.py
  ansible_collections/arista/cvp/molecule/cv_device_v3/test_reconciled_configlet.yml
  ansible_collections/arista/cvp/molecule/fixtures/cv_device_v3.yaml
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/generic_tools.py
Labels: module_utils: cv_client, module: cv_device_v3

#677 Fix(cv_facts_v3): raise errors when svcaccount/user is not authorized
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/tag_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/task_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
Labels: module_utils: cv_client, module: cv_device_v3, module: cv_container_v3, module: cv_task_v3, module: cv_facts_v3

#682 Bump: Release v3.9.0
  ansible_collections/arista/cvp/CHANGELOG.rst
  ansible_collections/arista/cvp/changelogs/.plugin-cache.yaml
  ansible_collections/arista/cvp/changelogs/changelog.yaml
  ansible_collections/arista/cvp/changelogs/fragments_backup/v3.9.0.yml
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/galaxy.yml
Labels: type: documentation
