Repository aristanetworks/ansible-cvp, pull requests merged in 2023-03, with the labels that each got.

#593 Fix(cv_device_v3): Fix check for missing devices
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3

#592 Refactor: Avoid redundant API calls
  ansible_collections/arista/cvp/examples/cv_device_v3/device_config_assign_atd.yaml
  ansible_collections/arista/cvp/plugins/module_utils/configlet_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3, module: cv_container_v3, module: cv_configlet_v3

#581 Fix: Allow tag assignment to serial numbers
  ansible_collections/arista/cvp/docs/schema/cv_tag_v3.md
  ansible_collections/arista/cvp/examples/cv_tag_v3/assign.unassign-device-autocreate.yml
  ansible_collections/arista/cvp/examples/cv_tag_v3/assign.unassign-device.yml
  ansible_collections/arista/cvp/examples/cv_tag_v3/assign.unassign-interface-autocreate.yml
  ansible_collections/arista/cvp/examples/cv_tag_v3/assign.unassign-interface.yml
  ansible_collections/arista/cvp/examples/cv_tag_v3/create.delete-device.yml
  ansible_collections/arista/cvp/examples/cv_tag_v3/create.delete-interface.yml
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
  ansible_collections/arista/cvp/plugins/module_utils/tag_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_tag_v3.py
Labels: type: documentation, module_utils: cv_client

#602 Bump: ansible-cvp release v3.6.1
  ansible_collections/arista/cvp/CHANGELOG.rst
  ansible_collections/arista/cvp/changelogs/.plugin-cache.yaml
  ansible_collections/arista/cvp/changelogs/changelog.yaml
  ansible_collections/arista/cvp/changelogs/fragments_backup/v3.6.1.yml
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/galaxy.yml
Labels: type: documentation
