Repository aristanetworks/ansible-cvp, pull requests merged in 2023-02, with the labels that each got.

#591 Bump: min pipeline python version bump
  .github/workflows/pull-request-management.yml
Labels: type: Code quality

#587 CI: Bump pylint version to 2.16.1
  .github/workflows/pull-request-conflict.yml
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  Makefile
  ansible_collections/arista/cvp/docs/_build/ansible2rst.py
  ansible_collections/arista/cvp/docs/installation/requirements.md
  ansible_collections/arista/cvp/molecule/cv_configlet_strict/converge.yml
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/image_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/response.py
  ansible_collections/arista/cvp/plugins/module_utils/tools_cv.py
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet.py
  ansible_collections/arista/cvp/plugins/modules/cv_configlet_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_container.py
  ansible_collections/arista/cvp/plugins/modules/cv_container_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_device.py
  ansible_collections/arista/cvp/plugins/modules/cv_device_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_image_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_tag_v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_task.py
  ansible_collections/arista/cvp/plugins/modules/cv_task_v3.py
  ansible_collections/arista/cvp/requirements-dev.txt
  pylintrc
  tests/lib/config.py
  tests/lib/helpers.py
  tests/lib/mock.py
  tests/lib/mock_ansible.py
  tests/lib/parametrize.py
  tests/lib/provisioner.py
  tests/lib/utils.py
  tests/system/test_cv_configlet.py
  tests/system/test_cv_container_tools.py
  tests/system/test_cv_device_tools.py
  tests/system/test_cv_device_tools_fqdn.py
  tests/system/test_cv_device_tools_generic.py
  tests/system/test_cv_device_tools_serial.py
  tests/system/test_cv_facts_tools.py
  tests/unit/test_configlet_input.py
  tests/unit/test_container_inputs.py
  tests/unit/test_cv_facts_tools.py
  tests/unit/test_cv_image_tools.py
  tests/unit/test_cv_response.py
  tests/unit/test_device_element.py
  tests/unit/test_device_inventory.py
  tests/unit/test_json_schema.py
  tests/unit/test_tools_cv.py
Labels: type: documentation, module: cv_facts, module: cv_container, module: cv_configlet, module: cv_device, type: dependencies, module: cv_task, type: Code quality, module_utils: cv_client, module: cv_device_v3, module: cv_container_v3, module: cv_configlet_v3, module: cv_task_v3, module: cv_facts_v3

#584 Fix(cv_container_v3): check_mode error
  ansible_collections/arista/cvp/plugins/module_utils/container_tools.py
Labels: module_utils: cv_client, module: cv_container_v3

#571 Fix(cv_device_v3): Implement device check mode
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3

#586 Test: adding library files for unittests
  tests/Unittest-README.md
  tests/data/device_tools_unit.py
  tests/lib/mockMagic.py
  tests/unit/conftest.py
Labels: module_utils: cv_client, module: cv_container_v3, code testing

#577 Fix: device decommission failure scenario
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3

#559 Test: jsonschema for cv_change_control_v3
  ansible_collections/arista/cvp/plugins/module_utils/change_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
  ansible_collections/arista/cvp/plugins/modules/cv_change_control_v3.py
  tests/lib/json_data.py
  tests/unit/test_json_schema.py
Labels: type: documentation, type: dependencies, type: Code quality, module_utils: cv_client, module: cv_device_v3
