Repository aristanetworks/ansible-cvp, pull requests merged in 2023-07, with the labels that each got.

#615 Feat(cv_device_v3): Configlet Validation support
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/_build/cv_validate_v3.rst
  ansible_collections/arista/cvp/docs/_build/index.rst
  ansible_collections/arista/cvp/docs/how-to/v3/cv_validate_v3.md
  ansible_collections/arista/cvp/docs/modules/cv_validate_v3.rst.md
  ansible_collections/arista/cvp/docs/schema/cv_validate_v3.md
  ansible_collections/arista/cvp/examples/cv_validate_v3/configlet1.cfg
  ansible_collections/arista/cvp/examples/cv_validate_v3/configlet2.cfg
  ansible_collections/arista/cvp/examples/cv_validate_v3/configlet3_multiline.cfg
  ansible_collections/arista/cvp/examples/cv_validate_v3/configlet4.cfg
  ansible_collections/arista/cvp/examples/cv_validate_v3/configlet5.cfg
  ansible_collections/arista/cvp/examples/cv_validate_v3/device_validate_config_error_cvp.yaml
  ansible_collections/arista/cvp/examples/cv_validate_v3/device_validate_config_error_local.yaml
  ansible_collections/arista/cvp/examples/cv_validate_v3/device_validate_config_multiline.yaml
  ansible_collections/arista/cvp/examples/cv_validate_v3/device_validate_config_multiple.yaml
  ansible_collections/arista/cvp/examples/cv_validate_v3/device_validate_config_multiple_cvp.yaml
  ansible_collections/arista/cvp/examples/cv_validate_v3/device_validate_config_valid_local.yaml
  ansible_collections/arista/cvp/examples/cv_validate_v3/device_validate_config_warning_cvp.yaml
  ansible_collections/arista/cvp/examples/cv_validate_v3/device_validate_config_warning_mix.yaml
  ansible_collections/arista/cvp/examples/inventory.yml
  ansible_collections/arista/cvp/molecule/cv_validate_v3/converge.yml
  ansible_collections/arista/cvp/molecule/cv_validate_v3/device_validate_config.yaml
  ansible_collections/arista/cvp/molecule/cv_validate_v3/inventory.yml
  ansible_collections/arista/cvp/molecule/cv_validate_v3/log.j2
  ansible_collections/arista/cvp/molecule/cv_validate_v3/molecule.yml
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/schemas/v3.py
  ansible_collections/arista/cvp/plugins/module_utils/response.py
  ansible_collections/arista/cvp/plugins/module_utils/validate_tools.py
  ansible_collections/arista/cvp/plugins/modules/cv_validate_v3.py
  ansible_collections/arista/cvp/requirements-dev.txt
  ansible_collections/arista/cvp/requirements.txt
  ansible_collections/arista/cvp/tests/sanity/ignore-2.14.txt
  mkdocs.yml
  tests/data/container_tools_unit.py
  tests/data/device_tools_unit.py
  tests/data/validate_tools_unit.py
  tests/lib/mockMagic.py
  tests/unit/module_utils/test_validate_tools.py
Labels: type: documentation, type: dependencies, type: Code quality, module_utils: cv_client, module: cv_device_v3

#650 Doc: update links in homepage
  ansible_collections/arista/cvp/README.md
Labels: type: documentation

#651 Bump: Release v3.7.0
  ansible_collections/arista/cvp/CHANGELOG.rst
  ansible_collections/arista/cvp/changelogs/.plugin-cache.yaml
  ansible_collections/arista/cvp/changelogs/changelog.yaml
  ansible_collections/arista/cvp/changelogs/fragments_backup/v3.7.0.yml
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/galaxy.yml
Labels: type: documentation, type: dependencies, type: Code quality, module_utils: cv_client

#634 Fix(cv_tag_v3): Delete assigned tags
  ansible_collections/arista/cvp/molecule/cv_tag_v3/converge.yml
  ansible_collections/arista/cvp/molecule/cv_tag_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_tag_v3/test_cv_tag_v3_device.yml
  ansible_collections/arista/cvp/molecule/cv_tag_v3/test_cv_tag_v3_interface.yml
  ansible_collections/arista/cvp/plugins/module_utils/tag_tools.py
Labels: module_utils: cv_client

#655 Doc: Remove stale link
  ansible_collections/arista/cvp/roles/configlets_sync/README.md
Labels: role: configlets_sync

#632 Feat: Added 'images', 'tasks' options and containers 'regexp_filter' in cv_facts_v3 with examples
  ansible_collections/arista/cvp/docs/_build/cv_facts_v3.rst
  ansible_collections/arista/cvp/docs/how-to/v3/cv_facts_v3.md
  ansible_collections/arista/cvp/docs/modules/cv_facts_v3.rst.md
  ansible_collections/arista/cvp/examples/cv_facts_v3/get_configlets_facts.yml
  ansible_collections/arista/cvp/examples/cv_facts_v3/get_containers_facts.yml
  ansible_collections/arista/cvp/examples/cv_facts_v3/get_devices_facts.yml
  ansible_collections/arista/cvp/examples/cv_facts_v3/get_images_facts.yml
  ansible_collections/arista/cvp/examples/cv_facts_v3/get_tasks_facts.yml
  ansible_collections/arista/cvp/plugins/README.md
  ansible_collections/arista/cvp/plugins/module_utils/facts_tools.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/api/fields.py
  ansible_collections/arista/cvp/plugins/module_utils/resources/modules/fields.py
  ansible_collections/arista/cvp/plugins/modules/cv_facts_v3.py
Labels: type: documentation, module_utils: cv_client, module: cv_facts_v3

#625 Test: Adding integration tests for cv_image_v3
  ansible_collections/arista/cvp/molecule/cv_image_v3/converge.yml
  ansible_collections/arista/cvp/molecule/cv_image_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_image_v3/test_cv_image_v3_bundle_upload.yml
  ansible_collections/arista/cvp/molecule/cv_image_v3/test_cv_image_v3_image_upload.yml
  ansible_collections/arista/cvp/requirements-dev.txt
Labels: type: dependencies

#658 Test: PR testing update
  ansible_collections/arista/cvp/examples/inventory.yml
  ansible_collections/arista/cvp/molecule/cv_validate_v3/inventory.yml
  tests/PR_testing/README.md
Labels: module_utils: cv_client

#604 Fix: update cv_task_v3 module documentation
  ansible_collections/arista/cvp/docs/modules/cv_task_v3.rst.md
  ansible_collections/arista/cvp/plugins/modules/cv_task_v3.py
Labels: type: documentation, module: cv_task_v3
