Repository aristanetworks/ansible-cvp, pull requests merged in 2024-07, with the labels that each got.

#701 Doc(cv_change_control_v3): add actions documentation
  ansible_collections/arista/cvp/docs/_media/built_in_action_id.png
  ansible_collections/arista/cvp/docs/_media/custom_action_id.png
  ansible_collections/arista/cvp/docs/schema/cv_change_control_v3.md
Labels: type: documentation

#693 Doc: Readme updates to align with new Red Hat template
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/installation/requirements.md
  ansible_collections/arista/cvp/index.md
  mkdocs.yml
Labels: type: documentation

#699 Bump(requirements): Set ansible-core version 2.15.x to 2.17.x
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/cvp/README.md
  ansible_collections/arista/cvp/docs/installation/requirements.md
  ansible_collections/arista/cvp/molecule/cv_change_control_v3/test_show_and_remove_cc.yml
  ansible_collections/arista/cvp/molecule/cv_device_v3/test_reconciled_configlet.yml
  ansible_collections/arista/cvp/molecule/cv_facts_v3/test_cv_facts_v3.yml
  ansible_collections/arista/cvp/molecule/cv_validate_v3/device_validate_config.yaml
  ansible_collections/arista/cvp/molecule/fixtures/cv_device_v3.yaml
  ansible_collections/arista/cvp/requirements-dev.txt
  ansible_collections/arista/cvp/tests/sanity/ignore-2.14.txt
Labels: type: documentation, type: dependencies, type: Code quality

#700 Fix(cv_device_v3): device decommissioning fails if a device is not streaming and not provisioned
  ansible_collections/arista/cvp/molecule/cv_device_v3/test_decommission_factory_reset_provisioning_reset.yml
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3
