Repository aristanetworks/ansible-cvp, pull requests merged in 2024-08, with the labels that each got.

#708 Cut: Remove dev containers and Ansible EE
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  ansible_collections/arista/cvp/docs/faq/containers.md
  execution-environment.yml
  mkdocs.yml
Labels: type: documentation

#707 CI: Remove collection.yml
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/cvp/collections.yml
Labels: type: Code quality

#705 Fix(cv_device_v3): Allow cv_device_v3 to handle SN-based decomms
  ansible_collections/arista/cvp/molecule/cv_device_v3/test_decommission_factory_reset_provisioning_reset.yml
  ansible_collections/arista/cvp/plugins/module_utils/device_tools.py
Labels: module_utils: cv_client, module: cv_device_v3

#711 Doc: Updated doc with supported ansible-core version
  ansible_collections/arista/cvp/README.md
Labels: type: documentation

#710 Test: Fix v1 molecule tests
  ansible_collections/arista/cvp/molecule/cv_change_control_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_configlet_loose/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_configlet_strict/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_configlet_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_container_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_device/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_device_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_device_v3/reconcile.py
  ansible_collections/arista/cvp/molecule/cv_device_v3/test_reconciled_configlet.yml
  ansible_collections/arista/cvp/molecule/cv_facts_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_image_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_tag_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_task_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/cv_validate_v3/molecule.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/molecule.yml
  ansible_collections/arista/cvp/requirements-dev.txt
Labels: type: documentation, type: dependencies

#713 CI: Update offline link check
  .github/workflows/pull-request-management.yml
  development/docker-compose.yml
  development/entrypoint.sh
Labels: type: Code quality

#712 Cut: Deprecate dhcp_configuration role
  ansible_collections/arista/cvp/docs/release-notes/v3.x.md
  ansible_collections/arista/cvp/molecule/dhcp_management_mac/molecule.yml
  ansible_collections/arista/cvp/molecule/dhcp_system_mac/molecule.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/README.md
  ansible_collections/arista/cvp/roles/dhcp_configuration/defaults/main.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/tasks/main.yml
  ansible_collections/arista/cvp/roles/dhcp_configuration/vars/main.yml
Labels: type: documentation, type: dependencies, role: ztp_configuration

#706 CI: Bump action molecule
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/cvp/collections.yml
  ansible_collections/arista/cvp/molecule/dhcp_management_offline/molecule.yml
Labels: type: Code quality

#714 CI: Make CI better again
  .github/workflows/pull-request-management.yml
  .github/workflows/pull-request-releases.yml
Labels: type: Code quality

#716 Bump: cvprac to 1.4.0
  ansible_collections/arista/cvp/requirements.txt
Labels: type: documentation, type: dependencies
